# ignore all files and then select the ones that should be tracked
/*
!.gitignore
!screenshots
!README.md

#hyprland
!hypr
!wlogout
!waybar

!/rofi
!rofi/config.rasi
rofi/*

# alacritty
!alacritty/alacritty.yml
alacritty/

# nvim 
nvim/
!nvim/lua/custom/
!nvim/init.lua
!nvim-custom-conf/

# i3 stuff
!picom
!i3
polybar/*
!polybar/forest/*
!polybar.personal


# misc
!kitty
kitty/kitty-themes/
!wofi
nvim.bk/

