gestures {
    hot-corners {
        off
    }
}

input {
    touchpad {
        // off
        tap
        // dwt
        // dwtp
        // drag false
        // drag-lock
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        scroll-factor 0.5
        // scroll-factor vertical=1.0 horizontal=-2.0
        // scroll-method "two-finger"
        // scroll-button 273
        // scroll-button-lock
        // tap-button-map "left-middle-right"
        // click-method "clickfinger"
        // left-handed
        // disabled-on-external-mouse
        middle-emulation
    }
}

// Workspaces
workspace "browser"

window-rule {
    match at-startup=true app-id="zen"
    open-on-workspace "browser"
}

workspace "terminal"

window-rule {
    match at-startup=true app-id="alacritty"
    open-on-workspace "terminal"
}


layout {
    gaps 5
    background-color "transparent"
    // always-center-single-column
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        // off
        width 1
        active-color "#ffffff33"
    }

    border {
        // off
        width 1
        active-color "#555"
        inactive-color "#222"
    }

    shadow {
        on
        softness 20
        spread 5
        offset x=0 y=5
    }

    tab-indicator {
        width 2
        gap -5
        gaps-between-tabs 5
        corner-radius 0
        active-color "#fff"
        inactive-color "#ffffff55"
    }

    insert-hint {
        color "#ffffff22"
    }
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    window-open {
        spring damping-ratio=1.0 stiffness=1500 epsilon=0.0001
    }
    window-close {
        spring damping-ratio=1.0 stiffness=1500 epsilon=0.1
    }
    window-resize {
        spring damping-ratio=1.0 stiffness=1500 epsilon=0.001
    }
    window-movement {
        spring damping-ratio=1.0 stiffness=1500 epsilon=0.0001
    }
    overview-open-close {
        spring damping-ratio=1.0 stiffness=1500 epsilon=0.0001
    }
    workspace-switch {
        spring damping-ratio=1.0 stiffness=1500 epsilon=0.00001
    }
    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=1500 epsilon=0.0001
    }
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Example: enable rounded corners for all windows.
window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}

window-rule {
    match app-id="alacritty-float"
    open-floating true
}

window-rule {
    match app-id="Proton Pass"
    border {
        off
    }
    focus-ring {
        off
    }
    block-out-from "screen-capture"
    open-floating true
}

binds {
    // Mod-Shift-/, which is usually the same as Mod-?,
    // shows a list of important hotkeys.
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Open/close the Overview: a zoomed-out view of workspaces and windows.
    // You can also do a four-finger swipe up on a touchpad.
    // Mod+O repeat=false { toggle-overview; }

    // Suggested binds for running programs: terminal, app launcher, screen locker.
    Mod+Return { spawn "alacritty"; }
    Mod+Shift+Return hotkey-overlay-title="Floating terminal: alacritty" { spawn "alacritty" "--class" "alacritty-float"; }

    Mod+Shift+P hotkey-overlay-title="btop" { spawn "alacritty" "--class" "btop" "-e" "btop"; }

    Mod+D { spawn "fuzzel"; }
    Mod+Shift+Escape { spawn "hyprlock"; }
    // Mod+E { spawn "nautilus"; }
    // Mod+Escape { spawn "ignis" "toggle" "PowerMenu"; }
    // Mod+I { spawn "ignis" "toggle-window" "Settings"; }
    // Mod+A { spawn "ignis" "toggle-window" "QuickCenter"; }

    // Example volume keys mappings for PipeWire & WirePlumber.
    // The allow-when-locked=true property makes them work even when the session is locked.
    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    // Example media keys mapping using playerctl.
    // This will work with any MPRIS-enabled media player.
    XF86AudioNext         allow-when-locked=true { spawn-sh "playerctl next"; }
    XF86AudioPause        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPlay         allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPrev         allow-when-locked=true { spawn-sh "playerctl previous"; }

    // Example brightness key mappings for brightnessctl.
    XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+5%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "5%-"; }

    Mod+Shift+Q repeat=false { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }

    Mod+H     { focus-column-left; }
    Mod+L     { focus-column-right; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+Shift+J     { move-window-down-or-to-workspace-down; }
    Mod+Shift+K     { move-window-up-or-to-workspace-up; }
    Mod+Shift+H  { move-column-left; }
    Mod+Shift+L { move-column-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }

    // Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    // Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    // Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    // Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    // Mod+WheelScrollRight      { focus-column-right; }
    // Mod+WheelScrollLeft       { focus-column-left; }
    // Mod+Ctrl+WheelScrollRight { move-column-right; }
    // Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    // Usually scrolling up and down with Shift in applications results in
    // horizontal scrolling; these binds replicate that.
    // Mod+Shift+WheelScrollDown      { focus-column-right; }
    // Mod+Shift+WheelScrollUp        { focus-column-left; }
    // Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    // Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace "browser"; }
    Mod+2 { focus-workspace "terminal"; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace "browser"; }
    Mod+Shift+2 { move-column-to-workspace "terminal"; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    // Consume one window from the right to the bottom of the focused column.
    Mod+Comma  { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    // Mod+F { maximize-column; }
    Mod+F { fullscreen-window; }
    Mod+C { center-column; }
    Mod+W { toggle-column-tabbed-display; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+Tab { focus-workspace-previous; }

    Mod+Shift+S { screenshot show-pointer=false; }
    Ctrl+Print { screenshot-screen show-pointer=false; }
    Alt+Print { screenshot-window; }

    // Mod+Shift+Alt+R { spawn "ignis" "run-command" "recorder-record-screen"; }
    // Mod+Alt+R { spawn "ignis" "run-command" "recorder-record-portal"; }
}

layer-rule {
    // This is for swaybg; change for other wallpaper tools.
    // Find the right namespace by running niri msg layers.
    match namespace="swww-daemon"
    place-within-backdrop true
}

overview {
    backdrop-color "#000"
    zoom 0.5
}

hotkey-overlay {
    skip-at-startup
}

switch-events {
    lid-close { spawn "hyprlock"; }
    // lid-open { spawn "notify-send"}
}

spawn-at-startup "ignis" "init"
spawn-at-startup "swww-daemon"
