* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font Mono;
    min-height: 15px;
}

window#waybar {
    background: transparent;
    padding: 0;
    margin: 0;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 10px;
    color: #11111b;
    background-image: linear-gradient(to right, rgba(180, 190, 254, 1), rgba(205, 214, 244, 1), rgba(186, 194, 222, 1));
    /* background: #313244; */  
}

#network {
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgba(127, 132, 156, 1), rgba(147, 153, 178, 1));
}

#disk {
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgba(49, 50, 68, 1), rgba(69, 71, 90, 1));
}

#workspaces {
    margin-right: 8px;
    border-radius: 10px;
    transition: none;
    background: #171727;
    /* background-image: linear-gradient(to right, rgba(24, 24, 37, 1), rgba(30, 30, 46, 1)); */
}

#workspaces button {
    transition: none;
    color: #7c818c;
    background: transparent;
    padding: 5px;
    font-size: 16px;
}

#workspaces button.persistent {
    color: #7c818c;
    font-size: 16px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    color: #383c4a;
    /* background: #7c818c; */
    background-image: linear-gradient(to right, rgba(148, 226, 213, 1), rgba(137, 180, 250, 1));
  }

#workspaces button.active {
    color: white;
    font-size: 20px;
}

#language {
    padding-left: 16px;
    padding-right: 8px;
    border-radius: 10px 0px 0px 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#keyboard-state {
    margin-right: 8px;
    padding-right: 8px;
    border-radius: 10px 10px 10px 10px;
    transition: none;
    color: #ffffff;
    background-image: linear-gradient(to right, rgba(17, 17, 27, 1), rgba(24, 24, 37, 1));
}

#keyboard-state > label.locked {
  margin-right: 8px;
  padding-right: 8px;
  border-radius: 10px 10px 10px 10px;
  background-image: linear-gradient(to right, rgba(148, 226, 213, 1), rgba(137, 180, 250, 1));
  color: #11111d
  
}

#custom-pacman {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px 10px 10px 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#custom-mail {
    margin-right: 8px;
    padding-right: 16px;
    border-radius: 0px 10px 10px 0px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#mode {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#clock {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px 10px 10px 10px;
    transition: none;
    color: #11111b;
    background: #9ccfd8;
}

#custom-weather {
    padding-right: 16px;
    border-radius: 0px 10px 10px 0px;
    transition: none;
    color: #11111b;
    background-image: linear-gradient(to right, rgba(250, 179, 135, 1), rgba(249, 226, 175, 1)); 
}

#pulseaudio {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background-image: linear-gradient(to right, rgba(88, 91, 112, 1), rgba(108, 112, 134, 1));
}

#pulseaudio.muted {
    background-image: linear-gradient(to right, rgba(148, 226, 213, 1), rgba(137, 180, 250, 1));
    background-color: #94e2d5;
    color: #11111b;
}

#custom-mem {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background-image: linear-gradient(to right, rgba(69, 71, 90, 1), rgba(88, 91, 112, 1));
}

#temperature {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #313244;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#backlight {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background-image: linear-gradient(to right, rgba(108, 112, 134, 1), rgba(108, 112, 134, 1));
}

#battery {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background-image: linear-gradient(to right, rgba(108, 112, 134, 1), rgba(127, 132, 156, 1));
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background-image: linear-gradient(to right, rgba(148, 226, 213, 1), rgba(137, 180, 250, 1));
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #313244;
    }
}
