* {
	font-size: 18px;
	font-family: "JetBrains Mono Nerd Font";
}

window#waybar {
	background: #181818;
	color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #181818;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #292b2e;
	background: #181818;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
	background: #1a1a1a;
}

#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}

#pulseaudio {
	color: #d0d0d0;
}
#memory {
	color: #d0d0d0;
}
#cpu {
	color: #d0d0d0;
}
#battery {
	color: #d0d0d0;
}

#network {
	color: #d0d0d0;
}
#disk {
	color: #c0c0c0;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}


#workspaces button {
    /* padding: 5px; */
    color: #cdd6f4;
    /* margin-right: 5px; */
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 1px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #ff6f00;
    border-radius: 1px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    /* border-radius: 20px; */
}

#workspaces button {
    color: #f8f8f2;
    margin: 3px;
    /* border-radius: 20px; */
}

#workspaces button.active {
    background: #c42a1d;
    color: #1d1d1d;
    font-weight: bold;
    border-radius: 1px;
}

#workspaces button:hover {
    background: @bg1;
    color: #ee5396;
}

