* {
  border: none;
  font-family: 'JetBrains Mono', 'Symbols Nerd Font Mono';
  font-size: 14px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 15px;
  margin-bottom: 1px;
}

window#waybar {
  background: transparent;
}

#custom-arch, #workspaces {
  border-radius: 12px;
  background-color: #282828;
  color: #ebdbb2;
  margin-top: 5px;
  margin-right: 15px;
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-arch {
  font-size: 20px;
  margin-left: 15px;
  color: #ebdbb2;
}


#workspaces button {
  background: #1d2021;
  color: #ebdbb2;
}

#custom-spotify {
  border-radius: 10px;
  background-color: #1DB954;
  color: #ebdbb2;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 15px;
}

#window, #mpris, #tray, #memory, #clock, #backlight, #pulseaudio, #bluetooth, #network, #battery{
  border-radius: 8px;
  background-color: #282828;
  color: #ebdbb2;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 15px;
}

#mpris.playing {
  border-radius: 8px;
  background-color: #1DB954;
  color: #32302f;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 15px;
}

#mpris.paused {
  border-radius: 8px;
  background-color: #1d2021;
  color: #ebdbb2;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 15px;
}

#backlight, #bluetooth {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 5px;
  margin-right: 0
}

#pulseaudio, #network {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 5px;
}

#clock {
  margin-right: 0;
}
