layout {
  pane split_direction "vertical" {
    pane {
      cwd "/home/degra/internship/cti_engine"
      size  "20%"
      name "cti_engine"
    }
    pane {
      cwd "/home/degra/internship/cti_engine"
      command "posting"
      size "80%"
      focus true
    }
  }
}
