@import "colors-waybar.css";
@import "workspace.css";
@import "custom/dec.css";
@import "bar.css";
@import "general.css";
@import "stock.css";
@import "custom/launcher.css";
@import "custom/battery.css";
@import "custom/apptitle.css";
@import "custom/clock.css";
@import "custom/privacycontainer.css";
@import "custom/maincontainer.css";

* {
  border: none;
  font-family: JetBrains Mono;
  font-size: 15px;
  margin-top: 1px;
  margin-bottom: 1px;
}

#temperature {
  color: @on-background;
  border-radius: 13px;
  padding: 5px 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}
