window {
margin: 0px;
border: 1px solid #08bdba;
background-color: #282828;
}

#input {
margin: 5px;
border: none;
color: #ffffff;
background-color: #161616;
}

#inner-box {
margin: 5px;
border: none;
background-color: #161616;
}

#outer-box {
margin: 5px;
border: none;
background-color: #161616;
}

#scroll {
margin: 0px;
border: none;
color: #ee5396
}

#text {
margin: 5px;
border: none;
color: #ffffff;
}

#entry:selected {
background-color: #1d2021;
}
